- cache( 'all' ) do
	/ Intro Section
	%section.inner-intro.parallax.parallax-background1
		.container
			.row.title
				%h2.h2
					= SwellMedia.app_name
					Privacy Policy
	.clearfix
	/ End Intro Section
	%section.ptb.ptb-sm-80
		.container.privacy
			.row
				.col-xs-10.col-xs-offset-1
					%p
						Thank you for using
						= "#{SwellMedia.app_name}"
						We wrote this policy to help you understand what information we collect, how we use it, and what choices you have.

					%h3
						What information do we collect?

					%p
						We collect information in a few different ways:

					%h5
						1. When you give it to us or give us permission to obtain it

					%p
						When you sign up for or use our products, you voluntarily give us certain information. This can include your name, profile photo, posts, comments, likes, email address you used to sign up, and any other information you provide us. If you’re using
						= SwellMedia.app_name
						on your mobile device, you can also choose to provide us with location data.

					%p
						You also may give us permission to access your information in other services. For example, you may link your Facebook or Twitter account to
						= SwellMedia.app_name
						which allows us to obtain information from those accounts (like your friends or contacts). The information we get from those services often depends on your settings or their privacy policies, so be sure to check what those are.

					%h5
						2. We also get technical information when you use our products

					%p
						These days, whenever you use a website, mobile application, or other internet service, there's certain information that almost always gets created and recorded automatically. The same is true when you use our products. Here are some of the types of information we collect:

					%ul
						%li
							Log data. When you use
							= SwellMedia.app_name
							our servers automatically record information ("Log Data"), including information that your borwser sends whenever you visit a website or your mobile app sends when you're using it. This log data may include your Internet Protocol address, the address of the web pages you visited that had
							= SwellMedia.app_name
							features, browser type and settings, the data and time of your request, how you used
							= "#{SwellMedia.app_name}, "
							and cookie data.

						%li
							Cookie data. Depending on how you’re accessing our products, we may use “cookies” (a small text file sent by your computer each time you visit our website, unique to your
							= SwellMedia.app_name
							account or your browser) or similar technologies to  record log data. When we use cookies, we may use “session” cookies (that last until you close your browser) or “persistent” cookies (that last until you or your browser delete them). For example, we may use cookies to store your language preferences or other
							= SwellMedia.app_name
							settings so you don‘t have to set them up every time you visit
							= "#{SwellMedia.app_name}."
							Some of the cookies we use are associated with your
							= SwellMedia.app_name
							account (including personal information about you, such as the email address you gave us), and other cookies are not.

						%li
							Device information. In addition to log data, we may also collect information about the device you’re using
							= SwellMedia.app_name
							on, including what type of device it is, what operating system you’re using, device settings, unique device identifiers, and crash data. Whether we collect some or all of this information often depends on what type of device you’re using and its settings. For example, different types of information are available depending on whether you’re using a Mac or a PC, or an iPhone or an Android phone. To learn more about what information your device makes available to us, please also check the policies of your device manufacturer or software provider.

					%h5
						3. Our partners and advertisers may share information with us

					%p
						We partner with online retailers in order to make their products available. As such, we automatically receive information from systems they provide access to and we provide things like pricing information accordingly. This means, product prices and availability are accurate as of the date/time indicated and are subject to change. Any price and availability information displayed on retailers’ site(s), at the time of purchase will apply to the purchase of a given product.

					%p
						Sometimes our partners may let us collect information when you use their services, or may share with us the information they collect. For example:

					%ul
						%li
							Some websites or apps use
							= SwellMedia.app_name
							features like Pinterest’s “Pin it” button. If so, we may collect log information (described above) from those sites or apps.

						%li
							Online advertisers typically share information with the websites or apps where they run ads to measure and/or improve those ads. We also receive this information, which may include information like whether clicks on ads led to purchases or a list of criteria to use in targeting ads. Here’s how it works:

						%ul
							%li
								A partner may provide data from their website to help us understand who’s bought something on their site after visiting us. This data lets us measure purchases that come from people viewing or clicking on their products posted on our site. We may use that data to optimize effectiveness of showing relevant products to you, matching your interests. We may also use that data to customize your experience with us.

							%li
								We may allow an advertiser, or company working for an advertiser, to place a pixel or similar technology.

					%h5
						4. We may use pixel tracking and collection information with ads you see

					%p
						We may use pixel tracking and collect information, including but not limited to URL’s, through advertisements of ours that you see or click online. This information may be used for targeting or re-marketing with relevant future content or ads on the Internet served by Google, Facebook or other platforms. Why? We want to intelligently show you things that interest you, instead of simply posting generic ads (those aren’t useful in helping you, but targeted content can be—and that’s our goal, to help you find the things you care about and need). We want to help you save time and money on products that are important to you, so we may use pixel tracking and collect information in order to help us to do that.

					%h5
						5. When you visit our website, third party vendors, including Google, use cookies to serve interest-based ads

					%p
						Google uses cookies to recognize your visit to our website, and those cookies are used to serve relevant interest-based ads to you on the Internet, containing content that is contextually relevant to your site visit. If you don’t want to see relevant ads, you can opt out of Google’s use of cookies by visiting Google’s Ads Settings page. Cookies are only one type of technology which serves interest-based ads, but if you want to opt out of third party vendors’ use of cookies, you can do so at the Network Advertising Initiative opt-out page.

					%h5
						How do we use the information we collect?

					%p
						We use the information we collect to provide our products to you and make them better, develop new products, and protect
						= SwellMedia.app_name
						and our users. For example, we may log how often people use two different versions of a product, which can help us understand which version is better.

					%p
						We also use the information we collect to offer you customized content, including:

					%ul
						%li
							Suggesting Posts you might like. For example, if you’ve indicated that you’re interested in cooking or visited recipe websites that have
							= SwellMedia.app_name
							features, we may suggest food-related posts, or people that we think you might like.

					%p
						We also use the information we collect to:

					%ul
						%li
							Send you updates (such as when certain activity, like reposts or comments, happens on
							= SwellMedia.app_name
							, newsletters, marketing materials and other information that may be of interest to you. For example, depending on your email notification settings, we may send you weekly updates that include Posts you may like. You can decide to stop getting these updates by updating your account settings (or through other settings we may provide).

						%li
							Help your friends and contacts find you on
							= SwellMedia.app_name
							For example, if you sign up using a Facebook account, we may help your Facebook friends find your account on
							= SwellMedia.app_name
							when they first sign up for
							= "#{SwellMedia.app_name}."
							Or, we may allow people to search for your account on
							= SwellMedia.app_name
							using your email address.

						%li
							Respond to your questions or comments

					%p
						The information we collect may be “personally identifiable” (meaning it can be used to specifically identify you as a unique person) or “non-personally identifiable” (meaning it can’t be used to specifically identify you). We use both types of information, and combinations of both types, as described above. We may use or store information wherever
						= SwellMedia.app_name
						does business, including countries outside your own.

					%h3
						What choices do you have about your information?

					%p
						Our goal is to give you simple and meaningful choices over your information. If you have a
						= SwellMedia.app_name
						account, many of the choices you have on
						= SwellMedia.app_name
						are built directly into the product or your account settings. For example, you can:

					%ul
						%li
							Access and change information in your profile page at any time, choose whether your profile page is available to search engines, or choose whether others can find your
							= SwellMedia.app_name
							account using your email address.

						%li
							Link or unlink your
							= SwellMedia.app_name
							account from an account on another service (e.g., Facebook or Twitter). For some services (like Facebook), you can also choose whether or not to publish your activity on
							= SwellMedia.app_name
							to that service.

						%li
							Create or be added to a secret post. Secret posts are visible to you and other participants in the post, and any participant may choose to make the contents of the post available to anyone else. For example, another participant may invite someone else to the post, make the post available to an app they use to view
							= SwellMedia.app_name
							or even just take an image from the post and email it to their friends.

						%li
							Also, we support the Do Not Track browser settling.

						%li
							Close your account at any time. When you close your account, we’ll deactivate it and remove your posts and posts from
							= SwellMedia.app_name
							We may retain archived copies of your information as required by law or for legitimate business purposes (including to help address fraud and spam).

							%br
								You may have choices available to you through the device or software you use to access
								= "#{SwellMedia.app_name}."
								For example:

						%li
							The browser you use may provide you with the ability to control cookies or other types of local data storage.

						%li
							Your mobile device may provide you with choices around how and whether location or other data is shared with us.

							%br
								To learn more about these choices around how and whether location or other data is shared with us.

					%h3
						How and when do we share information?

					%p
						= SwellMedia.app_name
						is a tool people use to share passion about products. When you create public posts, anyone can view them. You may also provide us with profile page information, including your username, that anyone can view and share online. The other limited instances where we may share your personal information include:

					%ul
						%li
							When we have your consent. This includes sharing information with other services (like Facebook or Twitter) when you’ve chosen to link to your
							= SwellMedia.app_name
							account to those services or publish your activity on
							= SwellMedia.app_name
							to them. For example, you can choose to publish your Posts to Facebook or Twitter.

						%li
							We may employ third party companies or individuals to process personal information on our behalf based on our instructions and in compliance with this Privacy Policy. For example, we may share data with a security consultant to help us get better at identifying spam or with our accountants to make sure we’re keeping the books right. In addition, some of the information we request may be collected by third party providers on our behalf.

						%li
							Online advertisers typically use third party companies to audit the delivery and performance of their ads on websites and apps. We also allow these companies to collect this information on
							= "#{SwellMedia.app_name}."


						%li
							If we believe that disclosure is reasonably necessary to comply with a law, regulation or legal request; to protect the safety, rights, or property of the public, any person, or
							= SwellMedia.app_name
							or to detect, prevent, or otherwise address fraud, security or technical issues.

						%li
							We may engage in a merger, acquisition, bankruptcy, dissolution, reorganization, or similar transaction or proceeding that involves the transfer of the information described in this Policy.

					%p
						We may also share aggregated or non-personally identifiable information with our partners, advertisers, or others. For example, we may tell an advertiser on
						= SwellMedia.app_name
						how many people shared something that they shared, or the percentage of people who click on a Pin after viewing it.

					%h3
						Our policy on children's information

					%p
						= SwellMedia.app_name
						is not directed to children under 13. If you learn that your minor child has provided us with personal information without your consent, please contact us.

					%h3
						How do we mack changes to this policy?

					%p
						We may change this policy from time to time, and if we do we’ll post any changes on this page. If you continue to use
						= SwellMedia.app_name
						after those changes are in effect, you agree to the revised policy. If the changes are significant, we may provide more prominent notice or get your consent as required by law.

					%p
						%i
							Effective:
							= Time.zone.now
