= stylesheet_link_tag 'application', "data-turbolinks-track" => true
= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic"
= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900"

-# %link{:href => image_path("favicons/apple-touch-icon.png"), :rel => "apple-touch-icon", :sizes => "180x180"}/
-# %link{:href => image_path("favicons/favicon-32x32.png"), :rel => "icon", :sizes => "32x32", :type => "image/png"}/
-# %link{:href => image_path("favicons/favicon-16x16.png"), :rel => "icon", :sizes => "16x16", :type => "image/png"}/
-# %link{:href => image_path("favicons/manifest.json"), :rel => "manifest"}/
-# %link{:color => "#5bbad5", :href => image_path("favicons/safari-pinned-tab.svg"), :rel => "mask-icon"}/
%meta{:content => "#ffffff", :name => "theme-color"}/

= render 'structured_data'
